<h1>Sign Up:</h1>

<form class="" action="/users" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <button type="submit">Submit</button>
</form>
